/* Per-instance theming: https://lit.dev/docs/components/styles/#theming */

:host {
  display: inline-flex;
}

.base-button {
  cursor: pointer;
  padding: var(--e-button-padding, 10px 20px);
  margin: var(--e-button-margin, 0px);
  font-size: var(--e-button-font-size, 16px);
  border: var(--e-button-border, 1px solid black);
  border-radius: var(--e-button-border-radius, 2px);
}

.default {
  background-color: var(--e-button-background-color, none);
  color: var(--e-button-color, black);
}

.default:hover {
  background-color: var(--e-button-background-color-hover, black);
  color: var(--e-button-color-hover, white);
}

.default.active {
  background-color: var(--e-button-background-color-active, #1f1f1e);
  color: var(--e-button-color-active, white);
}

.inverse {
  background-color: var(--e-button-background-color, black);
  color: var(--e-button-color, white);
}

.inverse:hover {
  background-color: var(--e-button-background-color-hover, white);
  color: var(--e-button-color-hover, black);
}

.inverse.active {
  background-color: var(--e-button-background-color-active, white);
  color: var(--e-button-color-active, #1f1f1e);
}

.override {
  all: initial;
}
